
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=Montserrat+Alternates&display=swap');

:root {
    --background-color: #FFE4D6;
    --header-color: #141316;
    --text-color: #5B5661;
    --navbar-color: #FFC9AD;
    --akcent-color: #FF925C;


    --navbar-height: 6vh;
    --navbar-line-height: 6vh;

}

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

/* logo */

#logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;
    letter-spacing: 2px;
    color: var(--header-color);
    line-height: var(--navbar-line-height);
}

/* headings */

h1, h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
    color: var(--header-color);
}

/* navigation */

#navbar-container {
    background-color: var(--navbar-color);
    height: var(--navbar-height);
    width: 100%;
}

#navbar-links {
    font-size: 125%;
    line-height: var(--navbar-line-height);
}

#navbar-links li {
    float: right;
    list-style-type: none;
    margin-right: 1vw;
    margin-left: 1vw;
    display: inline;
}

#navbar-links a {
    box-shadow: inset 0 0 0 0 var(--text-color);
    text-decoration: none;
    color: var(--text-color);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#navbar-links a:hover {
    padding: 0 .25rem;
	margin: 0 -.25rem;
    color: var(--navbar-color);
    box-shadow: inset 100vw 0 0 0 var(--text-color);
}

#active-link {
    padding: 0 .25rem;
	margin: 0 -.25rem;
    color: var(--navbar-color) !important;
    box-shadow: inset 100vw 0 0 0 var(--text-color) !important;
}

/* main image */

#main-image {
    width: 100%;
    height: 100vh;
    background-image: url("../images/home_main_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#main-cover-text div {
    color: var(--header-color);
    font-size: 5vh;
    text-align: center;
    box-shadow: inset 100vw 0 0 0 var(--background-color);
    border-top: inset #ffe4d6 1px;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* about us */

#about-us {
    height: 100vh;
    grid-template-areas: 
    "text image";
    grid-template-rows: 100% 100%;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

#about-text {
    margin-top: -20%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: larger;
    grid-area: text;
}

#about-image {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 2vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: image;
}

#about-text div {
    margin-top: 5vh;
}

/* sign up */

#sign-up {
    height: 90vh;
    grid-template-areas: 
    "image form";
    grid-template-rows: 100% 100%;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

#sign-up-image {
    overflow: hidden;
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
    margin-left: 2vw;
}

#sign-up-form {
    margin-top: 10vh;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: larger;
    grid-area: form;
}

#sign-up-form h1 {
    padding-bottom: 10vh;
}

#sign-up-form label, input{
    display: block;
    font-size: larger;
    width: 100%;
    margin-bottom: 1vh;
    padding: 0.5rem;
}

.submit-button {
    width: 80%;
    text-align: center;
    font-family:  'Montserrat Alternates', sans-serif;
    margin-left: 10%;
    margin-top: 10%;
    background-color: var(--akcent-color);
}

/* locations */

#locations {
    height: 100vh;
    grid-template-areas: 
    "locationreuman locationland locationdonau";
    grid-template-rows: 100% 100% 100%;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}

.location {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.location h1 {
    font-size: 200%;
    padding: 0 .3rem;
	margin: 0 -.3rem;
    margin-bottom: 2vh;
    opacity: 0.8;
    font-family:  'Nunito', sans-serif;
    box-shadow: inset 100vw 0 0 0 var(--background-color);
}

.location a {
    font-family:  'Nunito', sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 150%;
    padding: 0 .3rem;
	margin: 0 -.3rem;
    opacity: 0.95;
    color: var(--header-color);
    box-shadow: inset 100vw 0 0 0 var(--akcent-color);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.location a:hover {
    padding: 0 .3rem;
	margin: 0 -.3rem;
    color: var(--akcent-color);
    box-shadow: inset 100vw 0 0 0 var(--header-color);
}

#location-reumanplatz {
    grid-area: locationreuman;

    background-image: url("../images/reumanplatz.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#location-landstraße {
    grid-area: locationland;

    background-image: url("../images/landstraße.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#location-donauinsel {
    grid-area: locationdonau;

    background-image: url("../images/donauinsel.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* footer */

footer {
    height: 10vh;
    background-color: var(--navbar-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footer-social-media a {
    text-decoration: underline;
    color: var(--text-color);
    margin: 4vw;
}

#footer-contact {
    margin-top: 1vh;
}

#footer-contact a {
    color: var(--text-color)
}

/* media queries */

@media screen and (max-width: 950px) {
    #locations {
        grid-template-areas: 
        "locationreuman" 
        "locationland" 
        "locationdonau";
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 100% 100% 100%;
    
    }

    #sign-up {
        grid-template-areas: 
        "form";
        grid-template-rows: 100%;
        grid-template-columns: 100%;
    }

}

@media screen and (max-width: 800px) {
    :root {
        --navbar-height: 12vh
        --navbar-line-height: 6vh
    }

    #navbar-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #logo {
        float: none;
        margin-left: 0;
    }

}

@media screen and (max-width: 750px) {
    #about-us {
        grid-template-areas: 
        "text"
        "image";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 100% 100%;
    }

    #about-text {
        margin-top: 10%;
    }

    #about-image {
        margin-left: 2vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
}

@media screen and (max-width: 400px) {

    #logo {
        font-size: 200%;
    }

    #navbar-links {
        font-size: 110%;
    }

    #about-us {
        height: 100vh;
        grid-template-areas: 
        "text";
        grid-template-rows: 100%;
        grid-template-columns: 100%;
    }

    #about-text {
        font-size: 90%;
        margin-top: 0;
    }

}

